/*body{
    background-color: rgb(34,34,34);
}*/
@media(min-width:  768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
        display: inline-block;
    }

    .navbar-collapse.collapse {
        display: inline-block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar.collapse.in{
        overflow-x: visible;
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-right{
        float: none !important;
        padding: 25px 5px;
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 25px;
        float: none !important;
    }
  .navbar-nav >li.padding{
        padding:25px 0;
    }
    .nav>li>a{
        padding: 0;
    }

    .navbar-nav > li:hover {
        font-weight: bold;
    }

    .navbar{
        padding-top: 80px;
        padding-bottom: 100%;
        width: 180px;
        margin-right: 0;
        margin-left: 0;
        position: fixed;
        display: inline-block;
        background-color: rgb(34,34,34);
    }
}
@media(max-width:  480px){
    .navbar-nav > li{
        text-align: center;
    }
    #myCarousel{
        margin-top: 100px;
        position: absolute;
    }
    #myCarousel.carousel.slide.carousel-inner.item.img-responsive {
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
     #mainContainer1,
     #mainContainer2{
         margin-left: 0 !important;
    }
}
.icons {
    width: 15px;
}

#mainContainer2 {
    margin-left: 210px;
}

#mainContainer1 {
    margin-left: 180px;
    margin-right: 0;
}

.icons {
    width: 25px;
    padding-right: 5px;
}
@media(max-width:  480px){
    .navbar-inverse{
        margin:0!important;
    }
    .navbar-nav > li{
        text-align: center;
    }
    #myCarousel.carousel.slide.carousel-inner.item.img-responsive {
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #mainContainer1,
    #mainContainer2{
        margin-left: 0 !important;
        background: url("images/black-and-white-guitar-Wallpaper.jpg")!important;
    }
    .carousel-caption.text{
        color: ghostwhite;
        font-size: 10px;
        font-weight: bold;
    }
    .transparent-box{
        border-radius: 5px;
        background:#7f7f7f;
        background:rgba(0,0,0,0.5);
        width: 200px;
        height: 80px;
        padding: 0;
    }
    .carousel-caption>h2{
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .navbar-inverse{
        margin:0!important;
    }
    #myCarousel.item {
        height: 100%;
    }
    #myCarousel{
        margin-top: 130px;
        position: absolute;
    }
    .carousel-caption.text{
       color: ghostwhite;
        font-size :15px ;
        font-weight: bold;
    }
    .transparent-box{
        border-radius: 5px;
        background:#7f7f7f;
        background:rgba(0,0,0,0.5);
        width: 300px;
        height: 100px;
        padding: 0;
    }
    .carousel-caption>h2{
        font-size: 20px;
    }
    .navbar{
        margin-top: 15px;
    }
}
@media (min-width: 1200px) {
   #mainContainer1{
       -webkit-padding-before:20px;
   }
    #myCarousel .item {
        height: 629px;
    }
    .carousel-caption.text{
        color:ghostwhite;
        font-size: 20px;
        font-weight: bold;
    }
    .transparent-box{
        border-radius: 5px;
        background:#7f7f7f;
        background:rgba(0,0,0,0.5);
        width: 500px;
        height: 120px;
        padding: 0;
    }
}

.img-responsive.about-us-img {
    padding: 5px;
    display: inline-block;
}

.media {
    display: inline;
    height: 200px;
}

#img {
    margin-top: 0;
    height: 310px;
}

.row {
    padding-top: 25px;
    margin: 0;
}
.carousel .slide {
    position: absolute;
    z-index: 1;
}
.media-text{
    color: dimgrey;
}

.iconsSegoe {
    color: #000000;
    font-size: 30px;
}
